<div class="home-banner">
  <div class="click-call d-flex flex-column align-items-center">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  <%= image_tag("logo-mc.png") %>
  <%= link_to "Let's make cocktails!", cocktails_path, class: 'my-btn my-btn-blue' %>
  </div>
</div>

<div class="website-description">
  <h3>What can you do ?</h3>
 <div class="description-card">
  <%= image_tag("find.jpeg") %>
  <p>Find your favorites cocktails</p>
 </div>
  <div class="description-card">
  <p>Make your own cocktails</p>
  <%= image_tag("make.jpeg") %>
 </div>
  <div class="description-card">
  <%= image_tag("share.jpeg") %>
  <p>Share your recipes with the community</p>
 </div>
</div>

